<div class="list-dialog">
  @if (data.subtitle) {
    <p class="list-dialog__subtitle">{{ data.subtitle }}</p>
  }

  @if (data.items.length) {
    <div class="list-dialog__grid">
      @for (item of data.items; track item; let i = $index) {
        <div class="list-dialog__item" [class]="'list-dialog__item--c' + (i % 6)">
          <span class="list-dialog__index">{{ i + 1 }}</span>
          <span class="list-dialog__text">{{ item }}</span>
        </div>
      }
    </div>
  } @else {
    <p class="list-dialog__empty">{{ 'common.notInformed' | translate }}</p>
  }
</div>
