<p-dialog
  [modal]="true"
  appendTo="body"
  [closable]="false"
  (onHide)="onHide()"
  [draggable]="false"
  [resizable]="false"
  [visible]="visible()"
  [style]="{ width: '760px', maxWidth: '95vw' }"
  [header]="
    isEditMode() ? ('actionPlans.edit.title' | translate) : ('actionPlans.new.title' | translate)
  "
>
  <form [formGroup]="form" class="cs-dialog-form">
    <div class="grid formgrid gap-0">
      <div class="col-12 p-2">
        <p-floatLabel variant="on" class="w-full">
          <input pInputText id="title" style="width: 100%" formControlName="title" />
          <app-error-msg
            [field]="'title'"
            [forId]="'title'"
            [control]="form.controls.title"
            [label]="'actionPlans.fields.title' | translate"
          />
        </p-floatLabel>
      </div>

      <div class="col-12 md:col-6 p-2">
        <p-floatLabel variant="on" class="w-full">
          <textarea
            pTextarea
            rows="3"
            id="what"
            style="width: 100%"
            formControlName="what"
          ></textarea>
          <app-error-msg
            [field]="'what'"
            [forId]="'what'"
            [control]="form.controls.what"
            [label]="'actionPlans.fields.what' | translate"
          />
        </p-floatLabel>
      </div>

      <div class="col-12 md:col-6 p-2">
        <p-floatLabel variant="on" class="w-full">
          <textarea
            pTextarea
            rows="3"
            id="why"
            style="width: 100%"
            formControlName="why"
          ></textarea>
          <app-error-msg
            [field]="'why'"
            [forId]="'why'"
            [control]="form.controls.why"
            [label]="'actionPlans.fields.why' | translate"
          />
        </p-floatLabel>
      </div>

      <div class="col-12 p-2">
        <p-floatLabel variant="on" class="w-full">
          <textarea
            pTextarea
            rows="3"
            id="how"
            style="width: 100%"
            formControlName="how"
          ></textarea>
          <app-error-msg
            [field]="'how'"
            [forId]="'how'"
            [control]="form.controls.how"
            [label]="'actionPlans.fields.how' | translate"
          />
        </p-floatLabel>
      </div>

      <div class="col-12 md:col-6 p-2">
        <p-floatLabel variant="on" class="w-full">
          <input pInputText id="where" style="width: 100%" formControlName="where" />
          <label for="where">{{ 'actionPlans.fields.where' | translate }}</label>
        </p-floatLabel>
      </div>

      <div class="col-12 md:col-6 p-2">
        <p-floatLabel variant="on" class="w-full">
          <p-inputNumber
            size="small"
            class="w-full"
            mode="currency"
            inputId="howMuch"
            inputStyleClass="w-full"
            [minFractionDigits]="2"
            [maxFractionDigits]="2"
            [currency]="i18n.getCurrencyBrl()"
            [locale]="i18n.getLocalePtBr()"
            formControlName="howMuch"
          ></p-inputNumber>
          <label for="howMuch">{{ 'actionPlans.fields.howMuch' | translate }}</label>
        </p-floatLabel>
      </div>

      <div class="col-12 md:col-4 p-2">
        <p-floatLabel variant="on" class="w-full">
          <p-datepicker
            csDateInputMask
            inputId="targetDate"
            class="w-full"
            appendTo="body"
            [showIcon]="true"
            [dateFormat]="i18n.getDateFormat()"
            [readonlyInput]="false"
            formControlName="targetDate"
            [csDateInputMaskFormat]="i18n.getDateFormat()"
          ></p-datepicker>
          <label for="targetDate">{{ 'actionPlans.fields.targetDate' | translate }}</label>
        </p-floatLabel>
      </div>

      <div class="col-12 md:col-4 p-2">
        <p-floatLabel variant="on" class="w-full">
          <p-select
            size="small"
            class="w-full"
            [filter]="true"
            appendTo="body"
            optionLabel="label"
            optionValue="value"
            inputId="responsibleId"
            formControlName="responsibleId"
            [options]="responsibleOptions()"
          ></p-select>
          <app-error-msg
            [field]="'responsibleId'"
            [forId]="'responsibleId'"
            [control]="form.controls.responsibleId"
            [label]="'actionPlans.fields.responsible' | translate"
          />
        </p-floatLabel>
      </div>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <button
      pButton
      type="button"
      (click)="close()"
      icon="pi pi-times"
      [disabled]="saving()"
      class="p-button-text p-button-sm"
      [label]="'common.cancel' | translate"
    ></button>

    <button
      pButton
      type="button"
      (click)="save()"
      icon="pi pi-save"
      class="p-button-sm"
      [loading]="saving()"
      [disabled]="saving()"
      [label]="'common.save' | translate"
    ></button>
  </ng-template>
</p-dialog>
