<app-page-header
  [subtitle]="'taskShiftSettings.subtitle' | translate"
  [breadcrumb]="[
    { label: ('menu.settings.title' | translate), url: '/settings' },
    { label: ('routes.settings.taskShiftSettings.title' | translate) },
  ]"
></app-page-header>

<div class="surface-card border-round p-3 mt-2">
  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="grid formgrid gap-0">
      <div class="col-12 md:col-6 p-2">
        <p-floatLabel variant="on" class="w-full">
          <p-datepicker
            appendTo="body"
            class="w-full"
            inputId="morningStart"
            [timeOnly]="true"
            hourFormat="24"
            inputStyleClass="w-full p-inputtext-sm"
            formControlName="morningStart"
          ></p-datepicker>
          <label for="morningStart">{{ 'taskShiftSettings.fields.morningStart' | translate }}</label>
        </p-floatLabel>
      </div>
      <div class="col-12 md:col-6 p-2">
        <p-floatLabel variant="on" class="w-full">
          <p-datepicker
            appendTo="body"
            class="w-full"
            inputId="morningEnd"
            [timeOnly]="true"
            hourFormat="24"
            inputStyleClass="w-full p-inputtext-sm"
            formControlName="morningEnd"
          ></p-datepicker>
          <label for="morningEnd">{{ 'taskShiftSettings.fields.morningEnd' | translate }}</label>
        </p-floatLabel>
      </div>

      <div class="col-12 md:col-6 p-2">
        <p-floatLabel variant="on" class="w-full">
          <p-datepicker
            appendTo="body"
            class="w-full"
            inputId="afternoonStart"
            [timeOnly]="true"
            hourFormat="24"
            inputStyleClass="w-full p-inputtext-sm"
            formControlName="afternoonStart"
          ></p-datepicker>
          <label for="afternoonStart">{{ 'taskShiftSettings.fields.afternoonStart' | translate }}</label>
        </p-floatLabel>
      </div>
      <div class="col-12 md:col-6 p-2">
        <p-floatLabel variant="on" class="w-full">
          <p-datepicker
            appendTo="body"
            class="w-full"
            inputId="afternoonEnd"
            [timeOnly]="true"
            hourFormat="24"
            inputStyleClass="w-full p-inputtext-sm"
            formControlName="afternoonEnd"
          ></p-datepicker>
          <label for="afternoonEnd">{{ 'taskShiftSettings.fields.afternoonEnd' | translate }}</label>
        </p-floatLabel>
      </div>

      <div class="col-12 md:col-6 p-2">
        <p-floatLabel variant="on" class="w-full">
          <p-datepicker
            appendTo="body"
            class="w-full"
            inputId="eveningStart"
            [timeOnly]="true"
            hourFormat="24"
            inputStyleClass="w-full p-inputtext-sm"
            formControlName="eveningStart"
          ></p-datepicker>
          <label for="eveningStart">{{ 'taskShiftSettings.fields.eveningStart' | translate }}</label>
        </p-floatLabel>
      </div>
      <div class="col-12 md:col-6 p-2">
        <p-floatLabel variant="on" class="w-full">
          <p-datepicker
            appendTo="body"
            class="w-full"
            inputId="eveningEnd"
            [timeOnly]="true"
            hourFormat="24"
            inputStyleClass="w-full p-inputtext-sm"
            formControlName="eveningEnd"
          ></p-datepicker>
          <label for="eveningEnd">{{ 'taskShiftSettings.fields.eveningEnd' | translate }}</label>
        </p-floatLabel>
      </div>
    </div>

    @if (canEdit()) {
      <div class="mt-4 px-2">
        <p-button
          type="submit"
          icon="pi pi-save"
          [loading]="saving()"
          [label]="'common.save' | translate"
          [disabled]="loading() || form.invalid"
        ></p-button>
      </div>
    }
  </form>
</div>
