<p-dialog
  [modal]="true"
  appendTo="body"
  [closable]="false"
  (onHide)="onHide()"
  [draggable]="false"
  [resizable]="false"
  [visible]="visible()"
  [style]="{ width: '720px', maxWidth: '95vw' }"
  [header]="isEditMode() ? ('groups.form.editTitle' | translate) : ('groups.form.createTitle' | translate)"
>
  <form [formGroup]="form" class="dialog-form">
    <div class="grid formgrid gap-0">
      <div class="col-12 md:col-6 p-2">
        <p-floatlabel variant="on" class="w-full">
          <input pInputText id="name" formControlName="name" required maxlength="120" class="w-full" />
          <label for="name">{{ 'groups.form.name' | translate }}</label>
        </p-floatlabel>
        @if (form.controls.name.touched && form.controls.name.hasError('required')) {
          <small class="field-error">{{ 'groups.form.nameRequired' | translate }}</small>
        } @else if (form.controls.name.touched && form.controls.name.hasError('minlength')) {
          <small class="field-error">{{ 'groups.form.nameTooShort' | translate }}</small>
        }
      </div>

      <div class="col-12 md:col-6 p-2">
        <p-floatlabel variant="on" class="w-full">
          <input pInputText id="description" formControlName="description" required maxlength="1204" class="w-full" />
          <label for="description">{{ 'groups.form.description' | translate }}</label>
        </p-floatlabel>
        @if (form.controls.description.touched && form.controls.description.hasError('required')) {
          <small class="field-error">{{ 'groups.form.descriptionRequired' | translate }}</small>
        } @else if (form.controls.description.touched && form.controls.description.hasError('minlength')) {
          <small class="field-error">{{ 'groups.form.descriptionTooShort' | translate }}</small>
        }
      </div>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <button pButton type="button" icon="pi pi-times" class="p-button-text" (click)="close()" [disabled]="saving()">
      {{ 'common.cancel' | translate }}
    </button>
    <button pButton type="button" icon="pi pi-save" (click)="save()" [loading]="saving()" [disabled]="saving()">
      {{ 'common.save' | translate }}
    </button>
  </ng-template>
</p-dialog>
