<p-dialog
  [modal]="true"
  appendTo="body"
  [closable]="false"
  (onHide)="onHide()"
  [draggable]="false"
  [resizable]="false"
  [visible]="visible()"
  [header]="'tickets.new.title' | translate"
  [style]="{ width: '560px', maxWidth: '95vw' }"
>
  <form [formGroup]="form" class="cs-dialog-form">
    <div class="grid formgrid gap-0">
      <div class="col-12 p-2">
        <p-floatLabel variant="on" class="w-full">
          <input pInputText id="title" style="width: 100%" formControlName="title" />

          <app-error-msg
            [field]="'title'"
            [forId]="'title'"
            [control]="form.controls.title"
            [label]="'tickets.fields.title' | translate"
          />
        </p-floatLabel>
      </div>

      <div class="col-12 p-2">
        <p-floatLabel variant="on" class="w-full">
          <textarea
            pTextarea
            rows="4"
            id="description"
            style="width: 100%"
            formControlName="description"
          ></textarea>
          <app-error-msg
            [field]="'description'"
            [forId]="'description'"
            [control]="form.controls.description"
            [label]="'tickets.fields.description' | translate"
          />
        </p-floatLabel>
      </div>

      <div class="col-12 md:col-6 p-2">
        <p-floatLabel variant="on" class="w-full">
          <p-select
            size="small"
            class="w-full"
            appendTo="body"
            inputId="type"
            optionLabel="label"
            optionValue="value"
            [options]="typeOptions"
            formControlName="type"
          ></p-select>
          <app-error-msg
            [field]="'type'"
            [forId]="'type'"
            [control]="form.controls.type"
            [label]="'tickets.fields.type' | translate"
          />
        </p-floatLabel>
      </div>

      <div class="col-12 md:col-6 p-2">
        <p-floatLabel variant="on" class="w-full">
          <p-select
            size="small"
            class="w-full"
            appendTo="body"
            inputId="priority"
            optionLabel="label"
            optionValue="value"
            [options]="priorityOptions"
            formControlName="priority"
          ></p-select>
          <app-error-msg
            [field]="'priority'"
            [forId]="'priority'"
            [control]="form.controls.priority"
            [label]="'tickets.fields.priority' | translate"
          />
        </p-floatLabel>
      </div>

      <div class="col-12 p-2">
        <label class="block mb-2 text-sm opacity-80">
          {{ 'tickets.fields.attachment' | translate }}
        </label>
        <input type="file" (change)="onFileSelected($event)" />
      </div>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <button
      pButton
      type="button"
      (click)="close()"
      icon="pi pi-times"
      class="p-button-text p-button-sm"
      [label]="'common.cancel' | translate"
      [disabled]="saving()"
    ></button>

    <button
      pButton
      type="button"
      (click)="save()"
      icon="pi pi-save"
      class="p-button-sm"
      [loading]="saving()"
      [label]="'common.save' | translate"
      [disabled]="saving()"
    ></button>
  </ng-template>
</p-dialog>
