<div class="filter-panel">
  <div class="filter-panel__header" role="button" tabindex="0" (click)="toggle()" (keydown.enter)="toggle()">
    <span class="filter-panel__title">{{ 'common.filters.title' | translate }}</span>
    <span class="filter-panel__status">
      {{ statusLabel }}
      <button
        type="button"
        class="filter-panel__info"
        (click)="$event.stopPropagation(); filtersPopover.toggle($event)"
        [attr.aria-label]="'common.filters.title' | translate"
      >
        <i class="pi pi-info-circle"></i>
      </button>
    </span>
    <i class="pi filter-panel__chevron" [class.pi-minus]="expanded" [class.pi-plus]="!expanded"></i>
  </div>

  <p-popover #filtersPopover styleClass="filter-panel-popover">
    <div class="filter-panel__menu-content">
      @if (activeFilters.length) {
        <h4>{{ 'common.filters.title' | translate }}</h4>
        @for (f of activeFilters; track f.label) {
          <p><strong>{{ f.label }}:</strong> {{ f.value }}</p>
        }
      } @else {
        <p class="filter-panel__menu-empty">{{ 'common.filters.none' | translate }}</p>
      }
    </div>
  </p-popover>

  @if (expanded) {
    <div class="filter-panel__body">
      <div class="filter-panel__fields">
        <ng-content></ng-content>
      </div>
      <div
        class="filter-panel__actions"
        [class.filter-panel__actions--start]="actionsAlign === 'start'"
        [class.filter-panel__actions--center]="actionsAlign === 'center'"
      >
        <button pButton type="button" severity="secondary" [outlined]="true" class="btn-sm" (click)="clear.emit()">
          {{ 'common.filters.clear' | translate }}
        </button>
        <button pButton type="button" class="btn-sm" (click)="search.emit()">
          {{ 'common.filters.search' | translate }}
        </button>
      </div>
    </div>
  }
</div>
