<p-dialog
  [modal]="true"
  appendTo="body"
  [closable]="false"
  (onHide)="onHide()"
  [draggable]="false"
  [resizable]="false"
  [visible]="visible()"
  [style]="{ width: '480px', maxWidth: '95vw' }"
  [header]="'tickets.action.close' | translate"
>
  <form [formGroup]="form" class="cs-dialog-form">
    <div class="grid formgrid gap-0">
      <div class="col-12 p-2">
        <p-floatLabel variant="on" class="w-full">
          <textarea
            pTextarea
            rows="4"
            id="resolutionNote"
            style="width: 100%"
            formControlName="resolutionNote"
          ></textarea>
          <app-error-msg
            [field]="'resolutionNote'"
            [forId]="'resolutionNote'"
            [control]="form.controls.resolutionNote"
            [label]="'tickets.fields.resolutionNote' | translate"
          />
        </p-floatLabel>
      </div>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <button
      pButton
      type="button"
      (click)="close()"
      icon="pi pi-times"
      class="p-button-text p-button-sm"
      [label]="'common.cancel' | translate"
      [disabled]="saving()"
    ></button>

    <button
      pButton
      type="button"
      (click)="save()"
      icon="pi pi-save"
      class="p-button-sm"
      [loading]="saving()"
      [label]="'common.save' | translate"
      [disabled]="saving()"
    ></button>
  </ng-template>
</p-dialog>
