<div class="filter-panel">
  <button type="button" class="filter-panel__header" (click)="toggle()">
    <span class="filter-panel__title">{{ 'common.filters.title' | translate }}</span>
    <span class="filter-panel__status">
      {{ statusLabel }}
      <mat-icon class="filter-panel__info" [matTooltip]="'common.filters.hint' | translate">info</mat-icon>
    </span>
    <mat-icon class="filter-panel__chevron">{{ expanded ? 'remove' : 'add' }}</mat-icon>
  </button>

  @if (expanded) {
    <div class="filter-panel__body">
      <div class="filter-panel__fields">
        <ng-content></ng-content>
      </div>
      <div class="filter-panel__actions">
        <button mat-stroked-button type="button" class="btn-sm" (click)="clear.emit()">
          {{ 'common.filters.clear' | translate }}
        </button>
        <button mat-raised-button color="primary" type="button" class="btn-sm" (click)="search.emit()">
          {{ 'common.filters.search' | translate }}
        </button>
      </div>
    </div>
  }
</div>
