<p-dialog
  [modal]="true"
  appendTo="body"
  [closable]="false"
  (onHide)="onHide()"
  [draggable]="false"
  [resizable]="false"
  [visible]="visible()"
  [style]="{ width: '620px', maxWidth: '95vw' }"
  [header]="'installments.new.title' | translate"
>
  <form [formGroup]="form" class="cs-dialog-form">
    <div formArrayName="rows">
      <div
        *ngFor="let row of rows.controls; let i = index"
        [formGroupName]="i"
        class="grid formgrid gap-0 align-items-start"
      >
        <div class="col-5 p-2">
          <p-floatLabel variant="on" class="w-full">
            <p-inputNumber
              size="small"
              class="w-full"
              mode="currency"
              [inputId]="'amount-' + i"
              inputStyleClass="w-full"
              [minFractionDigits]="2"
              [maxFractionDigits]="2"
              [currency]="i18n.getCurrencyBrl()"
              [locale]="i18n.getLocalePtBr()"
              formControlName="amount"
            ></p-inputNumber>
            <app-error-msg
              [field]="'amount'"
              [forId]="'amount-' + i"
              [control]="row.get('amount')"
              [label]="'installments.fields.amount' | translate"
            />
          </p-floatLabel>
        </div>

        <div class="col-5 p-2">
          <p-floatLabel variant="on" class="w-full">
            <p-datepicker
              [inputId]="'dueDate-' + i"
              class="w-full"
              appendTo="body"
              [showIcon]="true"
              dateFormat="dd/mm/yy"
              [readonlyInput]="true"
              formControlName="dueDate"
            ></p-datepicker>
            <app-error-msg
              [field]="'dueDate'"
              [forId]="'dueDate-' + i"
              [control]="row.get('dueDate')"
              [label]="'installments.fields.dueDate' | translate"
            />
          </p-floatLabel>
        </div>

        <div class="col-2 p-2 flex align-items-center">
          <button
            pButton
            type="button"
            icon="pi pi-trash"
            (click)="removeRow(i)"
            class="p-button-text p-button-sm p-button-danger"
            [disabled]="rows.length <= 1"
          ></button>
        </div>
      </div>
    </div>

    <button
      pButton
      type="button"
      icon="pi pi-plus"
      (click)="addRow()"
      class="p-button-text p-button-sm"
      [label]="'installments.action.addRow' | translate"
    ></button>
  </form>

  <ng-template pTemplate="footer">
    <button
      pButton
      type="button"
      (click)="close()"
      icon="pi pi-times"
      class="p-button-text p-button-sm"
      [label]="'common.cancel' | translate"
      [disabled]="saving()"
    ></button>

    <button
      pButton
      type="button"
      (click)="save()"
      icon="pi pi-save"
      class="p-button-sm"
      [loading]="saving()"
      [label]="'common.save' | translate"
      [disabled]="saving()"
    ></button>
  </ng-template>
</p-dialog>
