<p-dialog
  [modal]="true"
  appendTo="body"
  [closable]="false"
  (onHide)="onHide()"
  [draggable]="false"
  [resizable]="false"
  [visible]="visible()"
  [style]="{ width: '760px', maxWidth: '95vw' }"
  [header]="isEditMode() ? ('manutencoes.edit.title' | translate) : ('manutencoes.new.title' | translate)"
>
  <form [formGroup]="form" class="cs-dialog-form">
    <div class="grid formgrid gap-0">
      <div class="col-12 md:col-6 p-2">
        <p-floatLabel variant="on" class="w-full">
          <p-select
            size="small"
            class="w-full"
            [filter]="true"
            appendTo="body"
            optionLabel="label"
            optionValue="value"
            inputId="equipamentoId"
            formControlName="equipamentoId"
            [options]="equipamentoOptions()"
          ></p-select>
          <app-error-msg
            [field]="'equipamentoId'"
            [forId]="'equipamentoId'"
            [control]="form.controls.equipamentoId"
            [label]="'manutencoes.fields.equipamento' | translate"
          />
        </p-floatLabel>
      </div>

      <div class="col-12 md:col-6 p-2">
        <p-floatLabel variant="on" class="w-full">
          <input
            id="autorizadaNome"
            pInputText
            type="text"
            formControlName="autorizadaNome"
            class="w-full p-inputtext-sm"
          />
          <app-error-msg
            [field]="'autorizadaNome'"
            [forId]="'autorizadaNome'"
            [control]="form.controls.autorizadaNome"
            [label]="'manutencoes.fields.autorizadaNome' | translate"
          />
        </p-floatLabel>
      </div>

      <div class="col-6 md:col-3 p-2">
        <p-floatLabel variant="on" class="w-full">
          <p-select
            size="small"
            class="w-full"
            appendTo="body"
            optionLabel="label"
            optionValue="value"
            inputId="status"
            [options]="statusOptions"
            formControlName="status"
          ></p-select>
          <label for="status">{{ 'manutencoes.fields.status' | translate }}</label>
        </p-floatLabel>
      </div>

      <div class="col-6 md:col-3 p-2">
        <p-floatLabel variant="on" class="w-full">
          <p-select
            size="small"
            class="w-full"
            appendTo="body"
            optionLabel="label"
            optionValue="value"
            inputId="tipoManutencao"
            [options]="tipoOptions"
            formControlName="tipoManutencao"
          ></p-select>
          <app-error-msg
            [field]="'tipoManutencao'"
            [forId]="'tipoManutencao'"
            [control]="form.controls.tipoManutencao"
            [label]="'manutencoes.fields.tipoManutencao' | translate"
          />
        </p-floatLabel>
      </div>

      <div class="col-12 md:col-3 p-2">
        <p-floatLabel variant="on" class="w-full">
          <p-inputNumber
            size="small"
            class="w-full"
            mode="currency"
            inputId="preco"
            inputStyleClass="w-full"
            [minFractionDigits]="2"
            [maxFractionDigits]="2"
            [currency]="i18n.getCurrencyBrl()"
            [locale]="i18n.getLocalePtBr()"
            formControlName="preco"
          ></p-inputNumber>
          <label for="preco">{{ 'manutencoes.fields.preco' | translate }}</label>
        </p-floatLabel>
      </div>

      <div class="col-6 md:col-3 p-2">
        <p-floatLabel variant="on" class="w-full">
          <p-datepicker
            csDateInputMask
            inputId="dataEnvio"
            class="w-full"
            appendTo="body"
            [showIcon]="true"
            [dateFormat]="i18n.getDateFormat()"
            formControlName="dataEnvio"
            [csDateInputMaskFormat]="i18n.getDateFormat()"
          ></p-datepicker>
          <app-error-msg
            [field]="'dataEnvio'"
            [forId]="'dataEnvio'"
            [control]="form.controls.dataEnvio"
            [label]="'manutencoes.fields.dataEnvio' | translate"
          />
        </p-floatLabel>
      </div>

      <div class="col-6 md:col-3 p-2">
        <p-floatLabel variant="on" class="w-full">
          <p-datepicker
            csDateInputMask
            inputId="dataRetorno"
            class="w-full"
            appendTo="body"
            [showIcon]="true"
            [dateFormat]="i18n.getDateFormat()"
            formControlName="dataRetorno"
            [csDateInputMaskFormat]="i18n.getDateFormat()"
          ></p-datepicker>
          <label for="dataRetorno">{{ 'manutencoes.fields.dataRetorno' | translate }}</label>
        </p-floatLabel>
      </div>

      <div class="col-6 md:col-3 p-2">
        <p-floatLabel variant="on" class="w-full">
          <p-datepicker
            csDateInputMask
            inputId="inicioGarantia"
            class="w-full"
            appendTo="body"
            [showIcon]="true"
            [dateFormat]="i18n.getDateFormat()"
            formControlName="inicioGarantia"
            [csDateInputMaskFormat]="i18n.getDateFormat()"
          ></p-datepicker>
          <label for="inicioGarantia">{{ 'manutencoes.fields.inicioGarantia' | translate }}</label>
        </p-floatLabel>
      </div>

      <div class="col-6 md:col-3 p-2">
        <p-floatLabel variant="on" class="w-full">
          <p-datepicker
            csDateInputMask
            inputId="fimGarantia"
            class="w-full"
            appendTo="body"
            [showIcon]="true"
            [dateFormat]="i18n.getDateFormat()"
            formControlName="fimGarantia"
            [csDateInputMaskFormat]="i18n.getDateFormat()"
          ></p-datepicker>
          <label for="fimGarantia">{{ 'manutencoes.fields.fimGarantia' | translate }}</label>
        </p-floatLabel>
      </div>

      <div class="col-12 p-2">
        <p-floatLabel variant="on" class="w-full">
          <input
            id="descricao"
            pInputText
            type="text"
            formControlName="descricao"
            class="w-full p-inputtext-sm"
          />
          <app-error-msg
            [field]="'descricao'"
            [forId]="'descricao'"
            [control]="form.controls.descricao"
            [label]="'manutencoes.fields.descricao' | translate"
          />
        </p-floatLabel>
      </div>

      <div class="col-12 p-2">
        <p-floatLabel variant="on" class="w-full">
          <textarea pTextarea id="observacao" rows="2" class="w-full" formControlName="observacao"></textarea>
          <label for="observacao">{{ 'manutencoes.fields.observacao' | translate }}</label>
        </p-floatLabel>
      </div>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <button
      pButton
      type="button"
      (click)="close()"
      icon="pi pi-times"
      class="p-button-text p-button-sm"
      [label]="'common.cancel' | translate"
      [disabled]="saving()"
    ></button>

    <button
      pButton
      type="button"
      (click)="save()"
      icon="pi pi-save"
      class="p-button-sm"
      [loading]="saving()"
      [label]="'common.save' | translate"
      [disabled]="saving()"
    ></button>
  </ng-template>
</p-dialog>
