<p-dialog
  [modal]="true"
  appendTo="body"
  [closable]="false"
  (onHide)="onHide()"
  [draggable]="false"
  [resizable]="false"
  [visible]="visible()"
  [style]="{ width: '520px', maxWidth: '95vw' }"
  [header]="'taskTemplatePicker.title' | translate"
>
  <form [formGroup]="form" class="cs-dialog-form">
    <div class="grid formgrid gap-0">
      <div class="col-12 p-2">
        <p-floatLabel variant="on" class="w-full">
          <p-select
            size="small"
            class="w-full"
            [filter]="true"
            appendTo="body"
            inputId="categoryId"
            optionLabel="label"
            optionValue="value"
            formControlName="categoryId"
            [options]="categorySelectOptions()"
          ></p-select>
          <label for="categoryId">{{ 'taskTemplatePicker.fields.category' | translate }}</label>
        </p-floatLabel>
      </div>

      <div class="col-12 p-2">
        <p-floatLabel variant="on" class="w-full">
          <p-select
            size="small"
            class="w-full"
            [filter]="true"
            appendTo="body"
            inputId="subcategoryId"
            optionLabel="label"
            optionValue="value"
            formControlName="subcategoryId"
            [options]="subcategorySelectOptions()"
          ></p-select>
          <label for="subcategoryId">{{ 'taskTemplatePicker.fields.subcategory' | translate }}</label>
        </p-floatLabel>
      </div>

      <div class="col-12 p-2">
        <p-floatLabel variant="on" class="w-full">
          <p-select
            size="small"
            class="w-full"
            [filter]="true"
            appendTo="body"
            inputId="templateId"
            optionLabel="label"
            optionValue="value"
            formControlName="templateId"
            [options]="templateSelectOptions()"
          ></p-select>
          <label for="templateId">{{ 'taskTemplatePicker.fields.template' | translate }}</label>
        </p-floatLabel>
        @if (form.controls.subcategoryId.value && !templateOptions().length) {
          <span class="block text-sm opacity-70 mt-1">{{ 'taskTemplatePicker.empty' | translate }}</span>
        }
      </div>

      @if (form.controls.templateId.value) {
        <div class="col-12">
          <span class="block text-sm opacity-70 mb-1">{{ 'taskTemplatePicker.batch.hint' | translate }}</span>
        </div>

        <div class="col-12 md:col-6 p-2">
          <p-floatLabel variant="on" class="w-full">
            <p-multiSelect
              size="small"
              class="w-full"
              [filter]="true"
              appendTo="body"
              [showClear]="true"
              inputId="locationIds"
              optionLabel="label"
              optionValue="value"
              formControlName="locationIds"
              [options]="locationOptions()"
            ></p-multiSelect>
            <label for="locationIds">{{ 'taskTemplatePicker.fields.locations' | translate }}</label>
          </p-floatLabel>
        </div>

        <div class="col-12 md:col-6 p-2">
          <p-floatLabel variant="on" class="w-full">
            <p-multiSelect
              size="small"
              class="w-full"
              appendTo="body"
              [showClear]="true"
              inputId="shifts"
              optionLabel="label"
              optionValue="value"
              formControlName="shifts"
              [options]="shiftOptions"
            ></p-multiSelect>
            <label for="shifts">{{ 'taskTemplatePicker.fields.shifts' | translate }}</label>
          </p-floatLabel>
        </div>

        <div class="col-12 p-2">
          <label for="batchAssigneeType" id="batchAssigneeType-label" class="block mb-2 text-sm opacity-80">
            {{ 'tasks.fields.assigneeType' | translate }}
          </label>
          <p-selectButton
            [options]="assigneeTypeOptions"
            optionLabel="label"
            optionValue="value"
            formControlName="assigneeType"
            aria-labelledby="batchAssigneeType-label"
          ></p-selectButton>
        </div>

        @if (form.controls.assigneeType.value === TaskAssigneeTypeEnum.USER) {
          <div class="col-12 p-2">
            <p-floatLabel variant="on" class="w-full">
              <p-select
                size="small"
                class="w-full"
                [filter]="true"
                appendTo="body"
                inputId="batchAssigneeId"
                optionLabel="label"
                optionValue="value"
                formControlName="assigneeId"
                [options]="assigneeOptions()"
              ></p-select>
              <label for="batchAssigneeId">{{ 'tasks.fields.assignee' | translate }}</label>
            </p-floatLabel>
          </div>
        } @else {
          <div class="col-12 p-2">
            <p-floatLabel variant="on" class="w-full">
              <p-select
                size="small"
                class="w-full"
                [filter]="true"
                appendTo="body"
                inputId="batchAssigneeDepartmentId"
                optionLabel="label"
                optionValue="value"
                formControlName="assigneeDepartmentId"
                [options]="departmentOptions()"
              ></p-select>
              <label for="batchAssigneeDepartmentId">{{ 'tasks.fields.assigneeDepartment' | translate }}</label>
            </p-floatLabel>
          </div>
        }
      }
    </div>
  </form>

  <ng-template pTemplate="footer">
    <button
      pButton
      type="button"
      (click)="close()"
      icon="pi pi-times"
      class="p-button-text p-button-sm"
      [label]="'common.cancel' | translate"
    ></button>

    <button
      pButton
      type="button"
      (click)="confirm()"
      icon="pi pi-check"
      class="p-button-sm"
      [label]="'common.confirm' | translate"
    ></button>
  </ng-template>
</p-dialog>
